*{
	margin: 0px;
	padding: 0px;
}

:root{
	--cor--fundo1: #000000;
	--cor--fundo2: #222634;
	--cor--verde: #009748;
	--cor--texto: #ffffff;
	--nome-fonte: 'inter';
}

header{
	background-color: var(--cor--fundo1);
	text-align: center;
	padding: 20px;
}

#inicio{
	background-color: var(--cor--fundo1);
	height: 700px;
}

.fundo{
	background-image: url('../imagens/fundo.png');
	background-repeat:no repeat;
	width: 1440px;
	height: 700px;
	margin: 0 auto;
}

.combo{
	padding-top: 50px;
	background-color: transparent;
	width: 720px;
	height: 700px;
	text-align: center;
}

.titulo{
	font-family: var(--nome-fonte);
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 34px;
	text-align: center;
	color: var(--cor--texto);
}

.imagem_combo{
	margin-left: 50px;
}

.link1 {
	display: block;
	background-color: var(--cor--verde);
	color: var(--cor--texto);
	font-family: var(--nome-fonte);
	border-radius: 3px;
	margin: 20px 160px;
	padding: 16px;
	text-decoration: none;
}

.link2 {
	display: block;
	background-color: var(--cor--fundo1);
	color: var(--cor--texto);
	font-family: var(--nome-fonte);
	border-radius: 3px;
	margin: 0px 160px;
	padding: 16px;
	border: 2px solid var(--cor--texto);
	text-decoration: none;
}


.texto{
	margin-top: 20px;
	text-align: center;
	color: #ffffff;
	font-family: 'arial';
	font-weight: 400;

}






#pagina2{
	background-color: var(--cor--fundo2);
	height: 700px;
}

.pc{
	margin-left: 200px;
	padding-top:150px;
	float: left;
}

.assista{
	width: 720px;
	height: 700px;
	color: var(--cor--texto);
	float: right;
}

.jeito{
	margin-top: 300px;
	font-size: 50px;
	font-family: var(--nome-fonte);
}

.tv{
	font-size: 17px;
	font-family: var(--nome-fonte);
	font-weight: 400;
}





#pagina3{
	background-color: var(--cor--fundo1);
	height: 700px;
}

.descricao{
	width: 720px;
	height: 700px;
	color: var(--cor--texto);
	float: left;
	margin-left: 70px;
}

.desc{
	margin-top: 300px;
	font-size: 16px;
	font-family: var(--nome-fonte);
	font-size: 15px;
	padding: 0 auto 30px;
	text-align: center;
	font-weight: 400;
}

.link3{
	display: block;
	background-color: var(--cor--verde);
	color: var(--cor--texto);
	font-family: var(--nome-fonte);
	border-radius: 3px;
	padding: 16px;
	text-decoration: none;
	width: 300px;
	text-align: center;
	margin-left: 190px;
}

.dupla{
	color: var(--cor--texto);
	float: right;
	margin-top: 200px;
	margin-right: 70px;

}

#pagina4{
	background-color: var(--cor--fundo2);
	height: 700px;
}

.imagem_dados{
	float: left;
	margin-left: 250px;
	padding-top:200px;
	width: 573px;
	height: 343.6px;
}

.cursos{
	margin-top: 300px;
	font-size: 35px;
	font-family: var(--nome-fonte);
	text-align: left;
}

.text_peq{
	font-size: 16px;
	font-family: var(--nome-fonte);
	text-align: left;
	width: 450px;
	font-weight: 400;
}



#pagina5{
	background-color: var(--cor--fundo1);
	height: 700px;
}

.dispositivos{
	text-align: center;
	font-family: var(--nome-fonte);
	font-size: 48px;
	color: var(--cor--texto);
	padding-top: 80px;
}

.tv{
	margin-left: 60px;
	width: 480px;
	height: 700px;
	float: left;
}

.img_tv{
	margin-left: 67px;
	padding-top: 120px;
	width: 344.88px;
	height: 190.33px;
}

.tv1{
	color: var(--cor--texto);
	font-family: var(--nome-fonte);
	font-size: 30px;
	text-align: center;
}

.computador{
	width: 480px;
	height: 700px;
	float: left;
}

.img_pc{
	margin-left: 60px;
	padding-top: 120px;
	width: 344.88px;
	height: 190.33px;
}

.pc1{
	color: var(--cor--texto);
	font-family: var(--nome-fonte);
	font-size: 30px;
	text-align: center;
}


.cel{
	width: 480px;
	height: 700px;
	float: left;
}

.img_cel{
	margin-left: 60px;
	padding-top: 120px;
	width: 344.88px;
	height: 190.33px;
}

.cel_tab{
	color: var(--cor--texto);
	font-family: var(--nome-fonte);
	font-size: 30px;
	text-align: center;
}





#formulario{
	background-color: var(--cor--fundo2);
	height: 700px;
	text-align: center;
}

.contato{
	color: var(--cor--texto);
	text-align: center;
	font-size: 30px;
	font-family: var(--nome-fonte);
	padding-top: 50px ;
}

.link4{
	display: block;
	background-color: var(--cor--verde);
	color: var(--cor--texto);
	font-family: var(--nome-fonte);
	font-size: 16px;
	border-radius: 5px;
	text-decoration: none;
	padding: 10px;
	width: 520px;
	margin: 0 auto;
	margin-top: 24px;
	border: 2px solid transparent;

}

.form{
	text-align: center;
	background-color: #2E3447;
	color: var(--cor--texto);
	border: 1px solid var(--cor--texto);
	border-radius: 10px;
	font-size: 18px;
	margin: 0 auto;
	margin-top: 19px;
	padding: 10px;
	width: 500px;

}

footer{
	background-color: var(--cor--fundo1);
}

.img_rodape{
	text-align: center;
	padding: 20px;
	margin-left: 670px;
	width: 222px;
	height: 78px;
	
}

.rodape{
	color: var(--cor--texto);
	font-family: var(--nome-fonte);
	text-align: center;
}

.rodape1{
	color: var(--cor--texto);
	font-family: var(--nome-fonte);
	text-align: center;
	font-weight: 400;
}


